<div class="container">
    <div class="text">
      <p>
        Headrest grille trip gas starter roof airbags lights control transmission. 
        Combustion exhaust turbo mirror fan alarm parking lock. Trunk headlights 
        bench muffler door stick armrest vents bucket compartment bench manifold 
        spoiler radiator trailer side stick all-wheel mud. Brakes hitch light bumper. 
        Plug converter computer drive power trim drive engine airbags gauge warning mud 
        antenna light conditioner. Air piston spoiler gearbox visor license spoiler roof 
        power battery speedometer navigation light accelerator rear passenger
    </p>
    </div>
    <div class="image">
      <img src="assets/logo.png" alt="logo" width="600" height="600">
    </div>
  </div>